<html>
  <head>
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>
  <body >
    <center>
      <div>
        <h1>Beethoven</h1>
    </center>

    <script>

    </script>
  </body>
</html>